include dash_mantine_components/dash_mantine_components.min.js
include dash_mantine_components/dash_mantine_components.min.js.map
include dash_mantine_components/async-*.js
include dash_mantine_components/async-*.js.map
include dash_mantine_components/*-shared.js
include dash_mantine_components/*-shared.js.map
include dash_mantine_components/metadata.json
include dash_mantine_components/package-info.json
include README.md
include LICENSE
include package.json
